.containerHero {
  width: 100%;
  min-height: 60rem;
  position: relative;
  top: 9rem;
}
.containerImg {
  width: 100%;
  height: 30rem;
  overflow: hidden;
  position: relative;
  img {
    margin-top: 2rem;
    position: relative;
    width: 100%;
    height: 90%;
    z-index: 1;
  }
  div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        to top,
        var(--color-main) 20%,
        transparent,
        transparent
      ),
      linear-gradient(to bottom, var(--color-main) 10%, transparent);
    z-index: 2;
  }
  @media screen and (min-width: 1000px) {
    height: 40rem;
    img {
      margin-top: -7rem;
      height: 50rem;
    }
  }
}
