.containerItem {
  display: block;
  height: 10rem;
  width: 100%;
  border-radius: 0.5rem;
  background-color: #020617;
  text-decoration: none;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  svg {
    font-size: 4rem;
    margin: 0 2rem;
    color: var(--color-yellow);
  }
  div {
    flex-grow: 1;
  }
  div h2 {
    color: #fff;
    margin-bottom: 0.5rem;
  }
  div span {
    color: var(--color-yellow);
    font-size: 1.6rem;
    display: block;
    width: 20rem;
    overflow: hidden;
  }
}
