.containerButtonBuger {
  width: 8rem;
  height: 8rem;
  margin-right: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;

  div {
    width: 6rem;
    height: 0.6rem;
    border-radius: 0.5rem;
    background-color: #fff;
    transition: all 0.5s ease-in-out;
  }
  div::before,
  div::after {
    content: "";
    position: absolute;
    width: 6rem;
    height: 0.6rem;
    border-radius: 0.5rem;
    background-color: #fff;
    transition: all 0.5s ease-in-out;
  }
  div::before {
    transform: translateY(-16px);
  }
  div::after {
    transform: translateY(16px);
  }
  @media screen and (min-width: 900px) {
    display: none;
  }
}
