.containerArticle {
  width: 95%;
  min-height: 30rem;
  margin: 0 auto;
  position: relative;
  bottom: 10rem;
  z-index: 2;
  p {
    margin-top: 2rem;
    color: #fff;
    font-size: 2rem;
    line-height: 3rem;
  }
}
.containerTitles {
  h2:first-child {
    font-size: 4rem;
    color: var(--color-yellow);
  }
  h2:last-child {
    font-size: 3rem;
    color: #fff;
    margin-top: -1.5rem;
    margin-left: 1rem;
  }
}
